.partnerImage {
    width: 70%;
    height: auto;
    max-width: 100px;
}

.partnerWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

@media (max-width: 768px) {
    .partnerImage {
        width: 80%;
        max-width: 120px;
    }
    
    .partnerWrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
